* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url(/assets/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #c7c7c7a4;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 20px;
}

.icones-button {
    width: 100px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.icones-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.5), inset 0 0 10px rgb(0 0 0 / 0.5);
}

.icones-button:active {
    transform: scale(1);
    box-shadow: 0 0 0 rgb(0 0 0 / 0.5), inset 0 0 10px rgb(0 0 0 / 0.5);
}

.icones-img {
    width: 100px;
    padding: 10px;
}

.conteiner-score {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.result {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 0.5);
    border-radius: 10px;
}

.your-score,
.machine-score,
.score {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    background-color: #fff;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 0.5);
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 768px) {
    body {
        background: url(/assets/img/background-9por16.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}